<div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/salon3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><strong>Service Title here</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p><strong>Salon: </strong> Salon name here</p>
            <p><strong>Price: </strong>Service price here</p>
            <p><strong>Category: </strong>Service category here</p>
            <div class="flexibox head_block">
                <button class="btn btn-success halfbutn"><span class="fa fa-edit"></span>Edit</button>
                <button class="btn btn-danger halfbutn"><span class="fa fa-trash"></span>Delete</button>
            </div>
        </div>
    </div>
</div>
