<div class="container outer_box_div">
    <div class="box_div">
        <div class="flexibox head_block">
            <h1>My Services</h1>
            <div><button class="btn mybutton"><span class="fa fa-plus"></span> Add New</button></div>
        </div>
        <div class="center">
            <img src="../../assets/img/makeuphero.jpg" alt="" class="main_img">
        </div>
        <div class="outer_box_div">
            <div class="flexibox head_block">
                <app-product></app-product>
            </div>
        </div>
    </div>
</div>