<div class="container outer_box_div">
    <div class="box_div">
        <div class="flexibox head_block">
            <h1>My Salons</h1>
            <div><button class="btn mybutton"><span class="fa fa-plus"></span> Add New</button></div>
        </div>
        <div class="center">
            <img src="../../assets/img/salonhero1.jpg" alt="" class="main_img">
        </div>
        <div class="outer_box_div">
            <div class="flexibox head_block">
                <app-salon></app-salon>
            </div>
        </div>
    </div>
</div>