<div class="outer_box_div">
    <div class="box_div">
        <div class="flexibox flex_item_container">
            <div class="inner_box_div">
                    <div>
                        <img alt="" src="../../assets/img/user.png" class="userimg">
                    </div>
            </div>
            <div class="inner_box_div">
                <div><button class="btn mybutton btn-block"><span class="fa fa-leaf"></span> Services</button></div>
                <div><button  class="btn mybutton btn-block"><span class="fa fa-scissors"></span> My Salons</button></div>
            </div>
            <div class="inner_box_div">
                <h3>My Service Categories</h3>
            </div>
            <div class="inner_box_div">
                
            </div>
        </div>
    </div>
</div>