/*
Colors:
	Body 		: #333
	Headers 	: #2B2D42
	Primary 	: #D10024
	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC
*/
@import "~bootstrap/dist/css/bootstrap.css";

i {
	color:#19B5BC;
	margin-right: 0.5em;
}